* {
  margin: 0;
  padding: 0;
}

a{
    background-color: yellow;
} 

acronym[title]
{
    background-color: black;
} 

col[class="column1"]
{
    background-color: red;
} 

a[href~="/html/"] 
{  
	background-color: white;
}

[class^="top"] {
    background: yellow;
}

[class$="test"] {
    background: pink;
}

[class*="te"] {
    background: ;
}

[class|=top] {
    background: green;
}

:root
{
background:#7F6940;
}

p:nth-child(2)
{
background:#ff0000;
}

p:nth-last-child(2)
{
background:#CEA75D;
}

p:nth-of-type(2)
{
background:#EAC808;
}

p:nth-last-of-type(2)
{
background:#08EA1F;
} 

p:nth-child(2n+1) 
{ 
	color: purple; 
}

tr:nth-last-child(-n+2) 
{ 
	color: navy; 
}




body 
{
	
	background-color: skyblue;
	
}

.center2 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;

  }

.center {
    width:80%; 
    margin-left:10%; 
    margin-right:15%;
    background-color: #b0e0e6;
    font-family: Calibri; 
	color:white; 
	font-size: 11pt; 
	font-style: normal;
	text-align:; 
}

.center1 {
    float: center;
    width: 500px;
    background-color: #3E4946;
}

td#td1 {
    
    text-align:'center';

}

img 
{
	
	margin: auto;
    width: 100%;
	
}

h3
{
	font-family: Calibri; 
	font-size: 22pt; 
	font-style: normal; 
	font-weight: bold; 
	color:SlateBlue;
	text-align: center; 
	text-decoration: underline; 
}

h2
{
	font-family: Calibri; 
	font-size: 22pt; 
	font-style: normal; 
	font-weight: bold; 
	color:red;
	text-align: center; 
	
}
table
{

	font-family: Calibri; 
	color:white; 
	font-size: 11pt; 
	font-style: normal;
	text-align:; 
	background-color: SlateBlue; 
	border-collapse: collapse; 
	border: 2px solid navy;
	 
}

td {
    padding: 10px;

}




table.inner
{
	border: 0px;
}