body 
{
	
	background-color: skyblue;
	
}

.center {
    margin: auto;
    width: 70%;
    background-color: SlateBlue;
}

td#td1 {
    
    text-align:'center';

}

img 
{
	
	margin: auto;
    width: 100%;
	
}

h3
{
	font-family: Calibri; 
	font-size: 22pt; 
	font-style: normal; 
	font-weight: bold; 
	color:SlateBlue;
	text-align: center; 
	text-decoration: underline; 
}

h2
{
	font-family: Calibri; 
	font-size: 22pt; 
	font-style: normal; 
	font-weight: bold; 
	color:red;
	text-align: center; 
	
}
table
{
	font-family: Calibri; 
	color:white; 
	font-size: 11pt; 
	font-style: normal;
	text-align:; 
	background-color: SlateBlue; 
	border-collapse: collapse; 
	border: 2px solid navy;
	 
}

td {
    padding: 10px;

}




table.inner
{
	border: 0px;
}