*{
	background-color: white;
}

div[role="main"]{
	background-color: yellow;
}

/*select all the elements that are second child of their parents */
li:nth-child(2){
	background-color: red;
}

li:nth-child(2){
	background-color: red;
}
/* exercise */

a:nth-child(2n+1) {
	background-color: ;
}

a:nth-child(2n) {
	background-color: blue;
}

/* select  all the a that are child of footer */

footer a{
	background-color: green;
}

b~i{
	background-color: green;
}

#zen-summary{
	background-color: blue;
}

.danger{
	color: red;
	font-size: 30px

}