*{
	background-color: white;
}

div[role="main"]{
	background-color: yellow;
}

/*select all the elements that are second child of their parents */
li:nth-child(2){
	background-color: red;
}

li:nth-child(2){
	background-color: red;
}
/* exercise */

a:nth-child(2n+1) {
	background-color: green;
}

a:nth-child(2n) {
	background-color: blue;
}