body,div
{
    margin: 0;
}

.container
{
    width: 800px;
    height: 1100px;
    margin: auto;
}

header
{
    width: 800px;
    height: 100px;
    background-color: cadetblue;
    text-align: center;
}

menu
{
    width: 759px;
    height: 24px;
    background-color: cadetblue;
}

menu select, img
{
    float: right;
}

menu button
{
    float: inherit;
    margin: 0;
}

menu button
{
    float: left;
}

.left_nev
{
    width: 130px;
    height: 1035px;
    background-color: cadetblue;
    padding-top: 15px;
    padding-left: 20px;
    float: left;
}

a
{
    text-align: center;
    text-decoration: none;
}

.right_nev
{
    width: 130px;
    height: 1035px;
    background-color: cadetblue;
    padding-top: 15px;
    padding-left: 20px;
    float: right;
}

.body
{
    width: 500px;
    height: 1050px;
    background-color: cornsilk;
    float: left;
}

#freshGraduates, #trainer, #universityInstitute, #residentialTraining, #trackSpecificTraining, #industryTraining
{
    background-color: #EEEEEE;
    height: 350px;
    width: 250px;
    float: left;
}

form fieldset
{
    text-align: center;
}

ul
{
    list-style: none;
}

footer
{
    width: 800px;
    height: 20px;
    background-color: cadetblue;
    text-align: center;
    clear: both;
}