/* basic theme design css */
.pageWrapper{
    
    background-color: #990099;
    width: 100%;
    height: 600px;
}

footer{
    width: 100%;
    background-color: #66ff33;
}

#logo
{
    width:25%;
    float:left;
    background-color: #0033ff;
    
}

#socialMedia{
    
    width: 40%;
    float:right;
    background-color: #ff6600;
}

#navigation{
    
    width: 100%;
    float:left;
    background-color: #00cccc;
  
}

#searchBar {
    width:50%;
   
    
}


#tweets{
    clear:both;
    width: 15%;
    height: 100px;
    float: right;
    background-color: #ff0033;
    
}

//------------------------------------------------



#assignedTrainee{
   
    width:60%;
   
}

p{
   
    text-align: center;
    font-size: 20px;
}

#row1{
    
    background-color: #999999;
}

tr{
    background-color: #00cc99;
}

a#profile{
    
    text-decoration: none;
    
    
}